.avatar {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.avatar-image {

    background-position: center;
    background-size: cover;
    border-radius: 50%;
    display: inline-flex;
        height: var(--avatar-image-size);
        width: var(--avatar-image-size);
    overflow: hidden;
    position: relative;

    [data-size="sm"] & {
        --avatar-image-size: 2rem;
    }

    img {
        opacity: 0;
        position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        max-width: 100%;
    }
}