.checkable {
    &.is-save {
        margin: 0;
        padding: 0;
        //padding: calc(var(--space-xs) / 2);


        &:hover,
        &:focus {
            img {
                opacity: 0.75;
            }
        }

        &:checked {
            ~ .icon {
                opacity: 1;
            }
        }
    }

    // icon


    .is-default {
        height: var(--icon-size);
        width: var(--icon-size);
            opacity: 0.5;
        transform: rotate(-45deg);
    }


}


// .checkable {
//     &.is-save {
//         margin: 0 0 auto;
//         padding: 0;
//         transform: translateX(-3rem) translateY(-1rem);

//         &:hover,
//         &:focus {
//             img {
//                 opacity: 1;
//             }
//         }

//         &:checked {
//             ~ img {
//                 opacity: 1;
//             }
//         }

//         img {
//             height: 4rem;
//             width: 8rem;
//             opacity: 1;
//         }
//     }
// }
