.site-header {
    color: var(--white);
    margin: 0 0 var(--space-md);
    padding: 0;

    display: flex;
    justify-content: space-between;
    /* margin: 0 calc(var(--space-lg) * -1); */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;

    .content {
        display: flex;
            align-items: center;
        margin: 0 auto auto 0;

        text-align: center;
    }

    a {
        color: currentColor;
    }
}

.site-logo {
    margin: 0 -0.5rem auto -1rem;
    width: 4rem;
    transform: translateY(-0.15rem) rotate(-2deg);

    img {
        display: block;
        // filter: invert(1);
        max-width: 100%;
    }
}

.page-title {
    box-shadow: var(--box-shadow);
    display: block;
    // font-size: 1.5rem;
    font-weight: 500;
    padding: var(--space);
    background: url("../../assets/images/paper-lined.jpg") top left repeat;
    color: var(--text);
    font-family: var(--font-hand);

    margin: 0 auto auto 0;
    transform: translateY(-0.15rem) ;
}


.user-nav {
    margin-left: auto;
    padding: 0 var(--space);
    text-align: center;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        padding: var(--space-sm);
    }

    a,
    button {
        background: url("../../assets/images/paper-dark.jpg") top left repeat;
        box-shadow: var(--box-shadow);
        color: var(--white);
        display: block;
            margin: 0;
            padding: var(--space-sm);
        text-decoration: none;
        text-align: center;
        transition: all var(--transition);
        transform: translateY(-1rem) rotate(2deg);
        transform-origin: top center;

        &:hover {
            transform: scale(1.1) translateX(var(--space)) translateY(-1.5rem) rotate(2deg);
        }
    }

    .nav-create {
        background: url("../../assets/images/paper-graph.jpg") top left repeat;
        background: var(--note-pink);
        background-size: 3rem;
        color: var(--heading);
        padding: var(--space-md) var(--space) var(--space);
        transform: translateY(-1rem);

        &.active {
            display: none;
        }
    }


    .icon {
        display: inline-block;
        filter: invert(1);
        height: 1.2rem;
        width: 1.6rem;
        transition: transform var(--transition);
    }

    .is-create {
        filter: none;
        width: 2.4rem;
    }
}

/* .site-nav .site-logo img {
    filter: invert(100%);
    margin-right: var(--space-sm);
    margin-top: calc(var(--space-sm) * -1);
    width: var(--space-lg);
} */
