// .paperclip {
//     height: 3rem;
//     width: 2rem;
//     position: absolute;
//         top: -1rem;
//         right: 0;
//     z-index: 1;
// }

.reaction {
    --size: 1.6rem;
    height: var(--size);
    width: var(--size);
    position: absolute;
    top: 0.5rem;
    right: 0;
}
