.note {
    background-color: var(--white);
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.05) 95%
    );
    background-blend-mode: multiply;
    border-radius: var(--radius-lg);
    box-shadow: var(--box-shadow);
    color: var(--text);
    margin: 0 auto 0 0;

    padding: 0 var(--space) var(--space);
    position: relative;
    // overflow: hidden; pin gets cut off
    text-decoration: none;
    transition: all 0.3s ease;
        // height: -webkit-fill-available;
    width: -webkit-fill-available;
    z-index: 1;



    @include breakpoint(medium) {
        // min-width: 18rem;
        // min-height: 19rem;
        // max-width: 50vw;
        // max-height: 50vh;
    }

    &.note {
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }


    &.is-stickynote {
        background-image: linear-gradient(
            0deg,
            rgba(18, 18, 18, 0) 0%,
            rgba(18, 18, 18, 0.1) 90%,
            rgba(18, 18, 18, 0.05) 91%,
            rgba(18, 18, 18, 0.15) 98%
        );
    }

    &.is-postcard {
        background: {
            image: url("../assets/images/postcard-bk3.svg");
            position: top var(--space-lg) right var(--space-lg);
            repeat: no-repeat;
            size: calc(var(--postcard-footer-width) + var(--space-lg));
        }
        border-radius: 0;
    }

    &[data-background] {
        background-color: attr(data-background);
    }

    a {
        color: currentColor;
        text-decoration: none;
    }

    h4 {
        color: var(--theme-primary);
    }

    p {
        color: var(--text);
        font-family: var(--font-hand);
        font-weight: 400;
    }

}

.note-recipients {
    display: flex;
        color: var(--white);
        align-items: baseline;

    h6 {
            line-height: 1;
            margin: auto 0 var(--space);
            padding: 0;
        }
    .avatar {
        margin: auto var(--space-sm) var(--space);
    }
}
