.note-confirm {
    h6 {
        color: var(--danger);
        font-weight: bold;
        font-size: var(--p);
        margin: 0;
        padding: 0;
    }

    .is-small {
        filter: grayscale(0.5);

        .icon {
            transform: scale(0.75);
        }
    }
}