.note-footer {
    display: flex;
    font-size: var(--p-sm);

    align-items: center;
    margin-top: auto;

    .is-postcard & {
        flex-wrap: wrap;
        font-size: var(--p);
        margin: auto 0 0 auto;
        width: var(--postcard-footer-width);
        // outline: 2px solid red;
    }

    h6 {
        font-size: var(--p-sm);
        margin: 0;
        padding: 0;

        .is-postcard & {
            font-size: var(--p);
            margin-bottom: var(--space);
            width: 100%;

            &:after {
                content: ':';
            }
        }
    }

    .avatar {
        flex-direction: row;
        margin: 0 var(--space-xs);
    }

    .avatar-image {
        --size: 2rem;
        height: var(--size);
        width: var(--size);


        .is-postcard & {
            display: none;
        }
    }

    p {
        margin: 0;
        padding: 0;
    }
}
