.note-message {
    padding: 0 var(--space);

    .is-postcard & {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: var(--space-lg);
    }

    h4 {
        color: var(--font-heading);
        font-family: var(--font-hand);
        font-size: var(--h4);
        margin: 0 0 var(--space);
    }

    p {
        font-size: var(--h6);
        line-height: 1.1;
        margin: 0 0 var(--space-sm);
    }

    a {
        font-weight: 700;
    }
}
