.note-preview {
    .note {
        margin-bottom: var(--space);

        &:hover,
        &:focus {
            transform: none;
        }
    }

    .is-postcard {
        .note-image {
            pointer-events: none;
        }

        ~.is-postcard {
            .note-image {
                opacity: 0;
            }
        }
    }
}